In [9]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

# Read the ball-by-ball analysis from the Excel file
df = pd.read_csv('C:/Users/PRASAD KUKDE/Downloads/DBMS_Proj - IPL_Ball_by_Ball_2008_2022.csv')


# data = df[df['extra_type'] != 'wides']


# Group the data by batsman and count the number of balls they faced
# balls_faced = data.groupby('batsman')['ball'].count()

# # Print the results
# print(balls_faced)

concatenated_batting_scorecard = pd.DataFrame()
# Get a list of unique match IDs
match_ids = df['ID'].unique()

# Loop through each match ID and create a scorecard for each innings
for match_id in match_ids:
    # Filter the data for the current match ID
    match_data = df[df['ID'] == match_id]
    
    # Get a list of unique innings for the current match ID
    innings = match_data['innings'].unique()
   
    # Loop through each innings and create a scorecard
    for inning in innings:
        # Filter the data for the current innings
        inning_data = match_data[match_data['innings'] == inning]
        
        # Create a new DataFrame for the scorecard
        scorecard = pd.DataFrame(columns=['Match_ID','Inning_Number','Batsman', 'Dismissal', 'Runs', 'Balls_Faced', 'Fours', 'Sixes'])
        
        # Set the MatchID and Inning Number for the scorecard
        # Extract the batting details from the ball-by-ball analysis
        batsmen = list(set(inning_data['batter']))
        for batsman in batsmen:
            
            balls_faced = len(inning_data[(inning_data['batter'] == batsman) & (inning_data['extra_type'] != 'wides') & (inning_data['extra_type'] != 'noballs')])
            runs = inning_data.loc[inning_data['batter'] == batsman, 'batsman_run'].sum()
            fours = len(inning_data.loc[(inning_data['batter'] == batsman) & (inning_data['batsman_run'] == 4)])
            sixes = len(inning_data.loc[(inning_data['batter'] == batsman) & (inning_data['batsman_run'] == 6)])
            dismissal = inning_data.loc[inning_data['batter'] == batsman, 'kind'].iloc[-1]
         
            scorecard = scorecard.append({'Match_ID':match_id,'Inning_Number':inning,'Batsman': batsman, 'Dismissal': dismissal, 'Runs': runs, 'Balls_Faced': balls_faced, 'Fours': fours, 'Sixes': sixes}, ignore_index=True)
        
        concatenated_batting_scorecard = pd.concat([concatenated_batting_scorecard,scorecard])
        # Print the scorecard for the current match ID and innings
        # print(f"Scorecard for Match ID {match_id}, {inning} innings:")
        # print(scorecard)

In [18]:
import sqlalchemy
engine=sqlalchemy.create_engine('mysql+pymysql://root:1234@localhost:3306/vrd')

In [19]:
concatenated_batting_scorecard.to_sql(
name = 'batting_scorecard',
con = engine,
index = False,
if_exists = 'replace'
)

In [10]:
print(concatenated_batting_scorecard[1:30])

  Match_ID Inning_Number        Batsman          Dismissal Runs Balls_Faced  \
1  1312200             1    YBK Jaiswal             caught   22          16
2  1312200             1       R Ashwin             caught    6           9
3  1312200             1      SV Samson             caught   14          11
4  1312200             1     SO Hetmyer  caught and bowled   11          12
5  1312200             1     JC Buttler             caught   39          35
6  1312200             1       OC McCoy                NaN    8           5
7  1312200             1        R Parag             bowled   15          15
8  1312200             1       TA Boult             caught   11           7
0  1312200             2      HH Pandya             caught   34          30
1  1312200             2        MS Wade             caught    8          10
2  1312200             2        WP Saha             bowled    5           7
3  1312200             2      DA Miller                NaN   32          19
4  1312200             2   Shubman Gill                NaN   45          43
0  1312199             1       HV Patel             bowled    1           2
1  1312199             1     KD Karthik             caught    6           7
2  1312199             1        V Kohli             caught    7           8
3  1312199             1     RM Patidar             caught   58          42
4  1312199             1  Shahbaz Ahmed                NaN   12           8
5  1312199             1   JR Hazlewood                NaN    1           2
6  1312199             1   PWH de Silva             bowled    0           1
7  1312199             1      MK Lomror             caught    8          10
8  1312199             1     GJ Maxwell             caught   24          13
9  1312199             1   F du Plessis             caught   25          27
0  1312199             2     D Padikkal             caught    9          12
1  1312199             2    YBK Jaiswal             caught   21          13
2  1312199             2      SV Samson            stumped   23          21
3  1312199             2     SO Hetmyer                NaN    2           3
4  1312199             2     JC Buttler                NaN  106          60
0  1312198             1     KD Karthik                NaN   37          23

  Fours Sixes
1     1     2
2     0     0
3     2     0
4     2     0
5     5     0
6     0     1
7     1     0
8     0     1
0     3     1
1     0     1
2     1     0
3     3     1
4     3     1
0     0     0
1     0     0
2     0     1
3     4     3
4     1     1
5     0     0
6     0     0
7     0     0
8     1     2
9     3     0
0     0     0
1     1     2
2     1     2
3     0     0
4    10     6
0     5     1

In [14]:
# Loop through each match ID and create a scorecard for each innings
import warnings
import pandas as pd
df = pd.read_csv('C:/Users/PRASAD KUKDE/Downloads/DBMS_Proj - IPL_Ball_by_Ball_2008_2022.csv')
match_ids = df['ID'].unique()
warnings.filterwarnings('ignore')
concatenated_bowling_scorecard = pd.DataFrame()

for match_id in match_ids:
    # Filter the data for the current match ID
    match_data = df[df['ID'] == match_id]
    # print(match_data.head)
    
    # Get a list of unique innings for the current match ID
    innings = match_data['innings'].unique()


    for inning in innings:
      inning_data = match_data[match_data['innings'] == inning]
      bowling_scorecard = pd.DataFrame(columns=['Match_ID','Inning_Number','Bowler', 'Overs',  'Maidens', 'Runs_Conceded', 'Wickets', 'Economy'])  
      bowlers = list(set(inning_data['bowler']))
#       print(bowlers)
#       print(list(inning_data['extra_type']))
      for bowler in bowlers:
        overs = len(inning_data[(inning_data['bowler'] == bowler) & (inning_data['extra_type'] != 'wides') & (inning_data['extra_type'] != 'noballs')]) // 6
        balls = len(inning_data[(inning_data['bowler'] == bowler) & (inning_data['extra_type'] != 'wides') & (inning_data['extra_type'] != 'noballs')]) % 6
        maidens = len(inning_data.loc[(inning_data['bowler'] == bowler) & (inning_data['batsman_run'] == 0) & (inning_data['extras_run'] == '0') & (inning_data['kind'] == 'NA')]) // 6
        runs_conceded = inning_data.loc[inning_data['bowler'] == bowler, 'batsman_run'].sum()
        wickets = len(inning_data.loc[inning_data['bowler'] == bowler, 'kind']) - inning_data.loc[inning_data['bowler'] == bowler, 'kind'].isnull().sum()
        economy = runs_conceded /(overs + balls*1.0/6)
        bowling_scorecard = bowling_scorecard.append({'Match_ID':match_id,'Inning_Number':inning,'Bowler': bowler, 'Overs': overs + balls * 1.0/10, 'Maidens': maidens, 'Runs_Conceded': runs_conceded, 'Wickets': wickets,'Economy':economy}, ignore_index=True)
      # print(f"Scorecard for Match ID {match_id}, {inning} innings:")
      # print(bowling_scorecard)
      concatenated_bowling_scorecard = pd.concat([concatenated_bowling_scorecard,bowling_scorecard])

In [20]:
concatenated_bowling_scorecard.to_sql(
name = 'bowling_scorecard',
con = engine,
index = False,
if_exists = 'replace'
)

In [16]:
print(concatenated_bowling_scorecard[31:60])

  Match_ID Inning_Number             Bowler  Overs Maidens Runs_Conceded  \
4  1312198             2       PWH de Silva    4.0       0            42
0  1312197             1     Mohammed Shami    4.0       0            37
1  1312197             1        Rashid Khan    4.0       0            15
2  1312197             1          HH Pandya    2.0       0            13
3  1312197             1          AS Joseph    2.0       0            27
4  1312197             1      R Sai Kishore    4.0       0            42
5  1312197             1         Yash Dayal    4.0       0            43
0  1312197             2           R Ashwin    4.0       0            37
1  1312197             2           OC McCoy    4.0       0            36
2  1312197             2  M Prasidh Krishna    3.3       0            35
3  1312197             2           TA Boult    4.0       0            38
4  1312197             2          YS Chahal    4.0       0            32
0  1304116             1           K Rabada    4.0       0            31
1  1304116             1           NT Ellis    4.0       0            38
2  1304116             1      Harpreet Brar    4.0       0            26
3  1304116             1     Arshdeep Singh    4.0       0            25
4  1304116             1     LS Livingstone    4.0       0            25
0  1304116             2         R Shepherd    1.0       0            22
1  1304116             2   Fazalhaq Farooqi    4.0       0            31
2  1304116             2        Umran Malik    2.1       0            24
3  1304116             2          J Suchith    4.0       0            36
4  1304116             2  Washington Sundar    2.0       0            19
5  1304116             2            B Kumar    2.0       0            22
0  1304115             1    Ramandeep Singh    2.0       0            25
1  1304115             1         HR Shokeen    4.0       0            32
2  1304115             1         M Markande    4.0       0            26
3  1304115             1        RP Meredith    2.0       0             8
4  1304115             1            DR Sams    4.0       0            29
5  1304115             1          JJ Bumrah    4.0       0            25

  Wickets    Economy
4       1  10.500000
0       1   9.250000
1       0   3.750000
2       1   6.500000
3       0  13.500000
4       1  10.500000
5       3  10.750000
0       1   9.250000
1       1   9.000000
2       0  10.000000
3       1   9.500000
4       0   8.000000
0       1   7.750000
1       4   9.500000
2       3   6.500000
3       0   6.250000
4       0   6.250000
0       0  22.000000
1       2   7.750000
2       1  11.076923
3       1   9.000000
4       1   9.500000
5       0  11.000000
0       2  12.500000
1       0   8.000000
2       1   6.500000
3       0   4.000000
4       1   7.250000
5       3   6.250000

In [2]:
import pandas as pd

# create a dictionary for each team with its ID, name, and home ground
teams = [
    {'team_id': 1, 'team_name': 'Rajasthan Royals', 'home_ground': 'Sawai Mansingh Stadium, Jaipur'},
    {'team_id': 2, 'team_name': 'Royal Challengers Bangalore', 'home_ground': 'M. Chinnaswamy Stadium, Bengaluru'},
    {'team_id': 3, 'team_name': 'Sunrisers Hyderabad', 'home_ground': 'Rajiv Gandhi International Cricket Stadium, Hyderabad'},
    {'team_id': 4, 'team_name': 'Delhi Capitals', 'home_ground': 'Arun Jaitley Stadium, Delhi'},
    {'team_id': 5, 'team_name': 'Chennai Super Kings', 'home_ground': 'M. A. Chidambaram Stadium, Chennai'},
    {'team_id': 6, 'team_name': 'Gujarat Titans', 'home_ground': 'Sardar Patel Stadium, Ahmedabad'},
    {'team_id': 7, 'team_name': 'Lucknow Super Giants', 'home_ground': 'Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow'},
    {'team_id': 8, 'team_name': 'Kolkata Knight Riders', 'home_ground': 'Eden Gardens, Kolkata'},
    {'team_id': 9, 'team_name': 'Punjab Kings', 'home_ground': 'Punjab Cricket Association Stadium, Mohali'},
    {'team_id': 10, 'team_name': 'Mumbai Indians', 'home_ground': 'Wankhede Stadium, Mumbai'},
    {'team_id': 11, 'team_name': 'Rising Pune Supergiants', 'home_ground': 'Maharashtra Cricket Association Stadium, Pune'},
    {'team_id': 12, 'team_name': 'Gujarat Lions', 'home_ground': 'Saurashtra Cricket Association Stadium, Rajkot'},
    {'team_id': 13, 'team_name': 'Pune Warriors', 'home_ground': 'Maharashtra Cricket Association Stadium, Pune'},
    {'team_id': 14, 'team_name': 'Deccan Chargers', 'home_ground': 'Rajiv Gandhi International Cricket Stadium, Hyderabad'},
    {'team_id': 15, 'team_name': 'Kochi Tuskers Kerala', 'home_ground': 'Jawaharlal Nehru International Stadium, Kochi'}
]

# create a pandas DataFrame with the team information
team_df = pd.DataFrame(teams)

# print the DataFrame
print(team_df['team_name'])

0                Rajasthan Royals
1     Royal Challengers Bangalore
2             Sunrisers Hyderabad
3                  Delhi Capitals
4             Chennai Super Kings
5                  Gujarat Titans
6            Lucknow Super Giants
7           Kolkata Knight Riders
8                    Punjab Kings
9                  Mumbai Indians
10        Rising Pune Supergiants
11                  Gujarat Lions
12                  Pune Warriors
13                Deccan Chargers
14           Kochi Tuskers Kerala
Name: team_name, dtype: object

In [36]:
team_df.to_sql(
name = 'teams',
con = engine,
index = False,
if_exists = 'replace'
)

In [3]:
ipl_seasons = [
    {'year': 2008, 'winner': 'Rajasthan Royals', 'man_of_tournament': 'Shane Watson', 'season_id': 1},
    {'year': 2009, 'winner': 'Deccan Chargers', 'man_of_tournament': 'Adam Gilchrist', 'season_id': 2},
    {'year': 2010, 'winner': 'Chennai Super Kings', 'man_of_tournament': 'Suresh Raina', 'season_id': 3},
    {'year': 2011, 'winner': 'Chennai Super Kings', 'man_of_tournament': 'Chris Gayle', 'season_id': 4},
    {'year': 2012, 'winner': 'Kolkata Knight Riders', 'man_of_tournament': 'Sunil Narine', 'season_id': 5},
    {'year': 2013, 'winner': 'Mumbai Indians', 'man_of_tournament': 'Kieron Pollard', 'season_id': 6},
    {'year': 2014, 'winner': 'Kolkata Knight Riders', 'man_of_tournament': 'Glenn Maxwell', 'season_id': 7},
    {'year': 2015, 'winner': 'Mumbai Indians', 'man_of_tournament': 'Andre Russell', 'season_id': 8},
    {'year': 2016, 'winner': 'Sunrisers Hyderabad', 'man_of_tournament': 'Virat Kohli', 'season_id': 9},
    {'year': 2017, 'winner': 'Mumbai Indians', 'man_of_tournament': 'Ben Stokes', 'season_id': 10},
    {'year': 2018, 'winner': 'Chennai Super Kings', 'man_of_tournament': 'Sunil Narine', 'season_id': 11},
    {'year': 2019, 'winner': 'Mumbai Indians', 'man_of_tournament': 'Andre Russell', 'season_id': 12},
    {'year': 2020, 'winner': 'Mumbai Indians', 'man_of_tournament': 'Jofra Archer', 'season_id': 13},
    {'year': 2021, 'winner': 'Chennai Super Kings', 'man_of_tournament': 'Harshal Patel', 'season_id': 14},
    {'year': 2022, 'winner': 'Gujarat Titans', 'man_of_tournament': 'Hardik Pandya', 'season_id': 15}
]
# create a pandas DataFrame with the SEASON information
Season = pd.DataFrame(ipl_seasons)

# print the DataFrame
print(Season)

    year                 winner man_of_tournament  season_id
0   2008       Rajasthan Royals      Shane Watson          1
1   2009        Deccan Chargers    Adam Gilchrist          2
2   2010    Chennai Super Kings      Suresh Raina          3
3   2011    Chennai Super Kings       Chris Gayle          4
4   2012  Kolkata Knight Riders      Sunil Narine          5
5   2013         Mumbai Indians    Kieron Pollard          6
6   2014  Kolkata Knight Riders     Glenn Maxwell          7
7   2015         Mumbai Indians     Andre Russell          8
8   2016    Sunrisers Hyderabad       Virat Kohli          9
9   2017         Mumbai Indians        Ben Stokes         10
10  2018    Chennai Super Kings      Sunil Narine         11
11  2019         Mumbai Indians     Andre Russell         12
12  2020         Mumbai Indians      Jofra Archer         13
13  2021    Chennai Super Kings     Harshal Patel         14
14  2022         Gujarat Titans     Hardik Pandya         15

In [15]:
Season.to_sql(
name = 'seasons',
con = engine,
index = False,
if_exists = 'replace'
)

In [23]:
# df2 = pd.read_csv('/content/drive/MyDrive/DBMS_PROJECT_CNB/DBMS_Proj - IPL_Matches_2008_2022.csv')
df2 = pd.read_csv('C:/Users/PRASAD KUKDE/Documents/DBMS project/Tables csv/IPL_Matches_2008_2022.csv')
match_details = pd.DataFrame()
match_ids = df['ID'].unique()
for match_id in match_ids:
   
    match_data = df2[df2['ID'] == match_id]
    Date = match_data['Date'].iloc[0]
    Season_id = int(match_data['Season'].iloc[0]) - 2007
    Match_number = match_data['MatchNumber'].iloc[0]
    Super_over = match_data['SuperOver'].iloc[0]
    Team2 = match_data['Team2'].iloc[0]
    Team1  = match_data['Team1'].iloc[0]
    No_result = match_data['method'].iloc[0]
    Toss = match_data['TossWinner'].iloc[0]
    Umpire1 = match_data['Umpire1'].iloc[0]
    Umpire2 = match_data['Umpire2'].iloc[0]
    Venue = match_data['Venue'].iloc[0]
    Team1players = match_data['Team1Players'].iloc[0]
    Team2players = match_data['Team2Players'].iloc[0]
    
    # match_details = match_details.append({'Match_id': match_id, 'date': date, "Season_id": Season_id, 'Super_Over':Super_over, 'Team1': Team1,'Team2': Team2, 'No result': No_result, 'Toss': Toss, 'Umpire 1': Umpire1, 'Umpire2': Umpire2, 'Venue': Venue }, ignore_index=True)
    match_details = match_details.append({'Match_id': match_id, 'Date': Date, 'Season_id':Season_id, 'Match_number': Match_number,'Super_Over':Super_over, 'Team1': Team1,'Team2': Team2, 'No result': No_result, 'Toss': Toss, 'Umpire 1': Umpire1, 'Umpire2': Umpire2, 'Venue': Venue, 'Team1players':Team1players, 'Team2players': Team2players }, ignore_index=True)

print(match_details)
    # Get the player

      Match_id        Date  Season_id Match_number Super_Over  \
0    1312200.0  2022-05-29       15.0        Final          N
1    1312199.0  2022-05-27       15.0  Qualifier 2          N
2    1312198.0  2022-05-25       15.0   Eliminator          N
3    1312197.0  2022-05-24       15.0  Qualifier 1          N
4    1304116.0  2022-05-22       15.0           70          N
..         ...         ...        ...          ...        ...
945   335986.0  2008-04-20        1.0            4          N
946   335985.0  2008-04-20        1.0            5          N
947   335984.0  2008-04-19        1.0            3          N
948   335983.0  2008-04-19        1.0            2          N
949   335982.0  2008-04-18        1.0            1          N

                           Team1                        Team2 No result  \
0               Rajasthan Royals               Gujarat Titans       NaN
1    Royal Challengers Bangalore             Rajasthan Royals       NaN
2    Royal Challengers Bangalore         Lucknow Super Giants       NaN
3               Rajasthan Royals               Gujarat Titans       NaN
4            Sunrisers Hyderabad                 Punjab Kings       NaN
..                           ...                          ...       ...
945        Kolkata Knight Riders              Deccan Chargers       NaN
946               Mumbai Indians  Royal Challengers Bangalore       NaN
947               Delhi Capitals             Rajasthan Royals       NaN
948                 Punjab Kings          Chennai Super Kings       NaN
949  Royal Challengers Bangalore        Kolkata Knight Riders       NaN

                            Toss       Umpire 1         Umpire2  \
0               Rajasthan Royals    CB Gaffaney     Nitin Menon
1               Rajasthan Royals    CB Gaffaney     Nitin Menon
2           Lucknow Super Giants  J Madanagopal        MA Gough
3                 Gujarat Titans   BNJ Oxenford       VK Sharma
4            Sunrisers Hyderabad   AK Chaudhary   NA Patwardhan
..                           ...            ...             ...
945              Deccan Chargers      BF Bowden     K Hariharan
946               Mumbai Indians       SJ Davis       DJ Harper
947             Rajasthan Royals      Aleem Dar  GA Pratapkumar
948          Chennai Super Kings      MR Benson      SL Shastri
949  Royal Challengers Bangalore      Asad Rauf     RE Koertzen

                                          Venue  \
0              Narendra Modi Stadium, Ahmedabad
1              Narendra Modi Stadium, Ahmedabad
2                         Eden Gardens, Kolkata
3                         Eden Gardens, Kolkata
4                      Wankhede Stadium, Mumbai
..                                          ...
945                                Eden Gardens
946                            Wankhede Stadium
947                            Feroz Shah Kotla
948  Punjab Cricket Association Stadium, Mohali
949                       M Chinnaswamy Stadium

                                          Team1players  \
0    ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...
1    ['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...
2    ['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...
3    ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...
4    ['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...
..                                                 ...
945  ['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...
946  ['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...
947  ['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...
948  ['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...
949  ['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...

                                          Team2players
0    ['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...
1    ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...
2    ['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...
3    ['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...
4    ['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...
..                                                 ...
945  ['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...
946  ['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...
947  ['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...
948  ['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...
949  ['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...

[950 rows x 14 columns]

In [24]:
match_details.to_sql(
name = 'match_details',
con = engine,
index = False,
if_exists = 'replace'
)

In [20]:
import pandas as pd
import numpy as np
# import warnings

df = pd.read_csv('C:/Users/PRASAD KUKDE/Documents/DBMS project/IPL_Matches_2008_2022.csv')
result = pd.DataFrame()

# warnings.filterwarnings('ignore')

# Read the ball-by-ball analysis from the Excel file
# df = pd.read_csv('/content/drive/MyDrive/DBMS_PROJECT_CNB/IPL_Ball_by_Ball_2008_2022.csv'

# Get a list of unique match IDs
match_ids = df['ID'].unique()


# Loop through each match ID and compute the result details
for match_id in match_ids:
    # Filter the data for the current match ID
    match_data = df[df['ID'] == match_id]
    
    # Get the winning team for the current match ID
    winner = match_data['WinningTeam'].iloc[0]
    result_type = match_data['method'].iloc[0]
    
    # Compute the result type for the current match ID
    if match_data['WonBy'].iloc[0] == 'Runs':
        result_details = f"{match_data['WinningTeam'].iloc[0]} won by {match_data['Margin'].iloc[0]} runs"
    elif match_data['WonBy'].iloc[0] == 'Wickets':
        result_details = f"{match_data['WinningTeam'].iloc[0]} won by {match_data['Margin'].iloc[0]} wickets"
    else:
        result_details = "Match tied"
    
    # Get the player of the match for the current match ID
    #print(match_id)
    mom = match_data['Player_of_Match'].iloc[0]
    x = []
    x.append(list(match_data['Team1']))
    x.append(list(match_data['Team2']))
    #print(list(match_data['WinningTeam']))
    if(pd.isnull(list(match_data['WinningTeam'])[0])):
      x = ['NA']
    else:
      x.remove(list(match_data['WinningTeam']))

    # print(x)
    

    # Add the result details to the Result table
    result = result.append({'Match_id': match_id, 'Winner': winner,'Loser':x[0][0], 'Result_type': result_type, 'Result_details': result_details, 'Man_of_match': mom}, ignore_index=True)

# Print the Result table
print(result)

      Match_id                       Winner                        Loser  \
0    1312200.0               Gujarat Titans             Rajasthan Royals
1    1312199.0             Rajasthan Royals  Royal Challengers Bangalore
2    1312198.0  Royal Challengers Bangalore         Lucknow Super Giants
3    1312197.0               Gujarat Titans             Rajasthan Royals
4    1304116.0                 Punjab Kings          Sunrisers Hyderabad
..         ...                          ...                          ...
945   335986.0        Kolkata Knight Riders              Deccan Chargers
946   335985.0  Royal Challengers Bangalore               Mumbai Indians
947   335984.0               Delhi Capitals             Rajasthan Royals
948   335983.0          Chennai Super Kings                 Punjab Kings
949   335982.0        Kolkata Knight Riders  Royal Challengers Bangalore

    Result_type                                  Result_details   Man_of_match
0           NaN               Gujarat Titans won by 7.0 wickets      HH Pandya
1           NaN             Rajasthan Royals won by 7.0 wickets     JC Buttler
2           NaN    Royal Challengers Bangalore won by 14.0 runs     RM Patidar
3           NaN               Gujarat Titans won by 7.0 wickets      DA Miller
4           NaN                 Punjab Kings won by 5.0 wickets  Harpreet Brar
..          ...                                             ...            ...
945         NaN        Kolkata Knight Riders won by 5.0 wickets      DJ Hussey
946         NaN  Royal Challengers Bangalore won by 5.0 wickets     MV Boucher
947         NaN               Delhi Capitals won by 9.0 wickets    MF Maharoof
948         NaN            Chennai Super Kings won by 33.0 runs     MEK Hussey
949         NaN         Kolkata Knight Riders won by 140.0 runs    BB McCullum

[950 rows x 6 columns]

In [22]:
result.to_sql(
name = 'result',
con = engine,
index = False,
if_exists = 'replace'
)

In [25]:
df = pd.read_csv('C:/Users/PRASAD KUKDE/Documents/DBMS project/IPL_Matches_2008_2022.csv')
scorecard = pd.DataFrame()
match_ids = df['ID'].unique()


for match_id in match_ids:
    match_data = df[df['ID'] == match_id]
    team_name1 = match_data['Team1'].iloc[0]
    team_name2 = match_data['Team2'].iloc[0]
    btid = team_df.loc[team_df['team_name'] == team_name1]['team_id'].values[0]
    blid = team_df.loc[team_df['team_name'] == team_name2]['team_id'].values[0]
    scorecard = scorecard.append({'Match_id': match_id, 'Inning_no':1, 'Batting_team_id': int(btid), 'Bowling_team_id':blid}, ignore_index = True)
    scorecard = scorecard.append({'Match_id': match_id, 'Inning_no':2, 'Batting_team_id': int(blid), 'Bowling_team_id':btid}, ignore_index = True)

    
scorecard['Match_id'] = scorecard['Match_id'].astype(int)
scorecard['Inning_no'] = scorecard['Inning_no'].astype(int)
scorecard['Batting_team_id'] = scorecard['Batting_team_id'].astype(int)
scorecard['Bowling_team_id'] = scorecard['Bowling_team_id'].astype(int)
print(scorecard)

      Match_id  Inning_no  Batting_team_id  Bowling_team_id
0      1312200          1                1                6
1      1312200          2                6                1
2      1312199          1                2                1
3      1312199          2                1                2
4      1312198          1                2                7
...        ...        ...              ...              ...
1895    335984          2                1                4
1896    335983          1                9                5
1897    335983          2                5                9
1898    335982          1                2                8
1899    335982          2                8                2

[1900 rows x 4 columns]

In [27]:
scorecard.to_sql(
name = 'scorecard',
con = engine,
index = False,
if_exists = 'replace'
)

In [5]:
player_df = pd.DataFrame()
df = pd.read_csv('C:/Users/PRASAD KUKDE/Documents/DBMS project/unique_players.csv')

for i in range(0, len(df['player names'])):
    player_df = player_df.append({'player_id': i+1, 'player_name': df['player names'][i]}, ignore_index = True)
    
player_df['player_id'] = player_df['player_id'].astype(int)
print(player_df)

     player_id      player_name
0            1         VR Aaron
1            2          J Yadav
2            3       M Markande
3            4  KB Arun Karthik
4            5           DB Das
..         ...              ...
647        648          NS Naik
648        649    DP Vijaykumar
649        650      JW Hastings
650        651       D Padikkal
651        652          RA Bawa

[652 rows x 2 columns]

In [6]:
# Define a function to get the team id for a player in a specific season
def get_team_id(player_id, season_id):
    # Get the name of the winning team for the given season
    team_name = Season[Season['season_id'] == season_id]['winner'].iloc[0]
    # Get the id of the team with the same name
    team_id = team_df[team_df['team_name'] == team_name].index[0] + 1
    # Return the team id
    return team_id

# Create a list of dictionaries to hold the data for each row in the final dataframe
rows = []
for season_id in Season['season_id']:
    for player_id in player_df['player_id']:
        player_name = player_df.loc[player_df['player_id'] == player_id]['player_name'].values[0]
        team_id = get_team_id(player_id, season_id)
        row = {'player_id': player_id, 'player_name':player_name,'season_id': season_id, 'team_id': team_id}
        rows.append(row)

# Create the final dataframe from the list of dictionaries
player_df = pd.DataFrame(rows)

In [7]:
print(player_df)

      player_id      player_name  season_id  team_id
0             1         VR Aaron          1        1
1             2          J Yadav          1        1
2             3       M Markande          1        1
3             4  KB Arun Karthik          1        1
4             5           DB Das          1        1
...         ...              ...        ...      ...
9775        648          NS Naik         15        6
9776        649    DP Vijaykumar         15        6
9777        650      JW Hastings         15        6
9778        651       D Padikkal         15        6
9779        652          RA Bawa         15        6

[9780 rows x 4 columns]

In [8]:
player_df.to_sql(
name = 'player',
con = engine,
index = False,
if_exists = 'replace'
)

In [52]:
import pandas as pd
import numpy as np
null = np.nan
seasons = list(range(1, 16))
teams = ['Chennai Super Kings', 'Delhi Capitals', 'Punjab Kings', 
         'Kolkata Knight Riders', 'Mumbai Indians', 'Rajasthan Royals', 
         'Royal Challengers Bangalore', 'Sunrisers Hyderabad',
         'Rising Pune Supergiants', 'Gujarat Lions','Pune Warriors',
         'Deccan Chargers', 'Kochi Tuskers Kerala', 'Gujarat Titans', 'Lucknow Super Giants']
nrr_list = [[-0.192, 0.342, 0.509, -0.147, 0.570, 0.632, -1.160, null, null, null, -0.467 , null, null, null, null],
            [0.951, 0.311, -0.483, -0.789, 0.297, -0.352, -0.191, null, null, null,  0.203, null, null, null, null],
            [0.268, 0.021, -0.478, -0.341, 1.084, -0.514, 0.224, null, null, null,  -0.297, null, null, null, null],
            [0.443, -0.448, -0.051, 0.433, 0.040, -0.691, 0.326, null, null, null, -0.134, 0.222, -0.214, null, null],
            [0.100, 0.617, -0.385, 0.561, 0.100, -0.691, -0.022, null, null, -0.551, -0.509, null, null, null, null],
            [0.530, -0.848, 0.226, -0.095, 0.441, 0.322, 0.457, 0.003, null, null, -1.006, null, null, null, null],
            [0.385, -1.182, 0.968, 0.418, 0.095, 0.060, -0.428, -0.399, null, null, null, null, null, null, null],
            [0.709, -0.049, -1.436, 0.253, -0.043, 0.062, 1.037, -0.239, null, null, null, null, null, null, null],
            [null, -0.155, -0.646, 0.106, -0.146, null, 0.932, 0.245, 0.015, -0.374, null, null, null, null, null],
            [null, -0.512, -0.009, 0.641, 0.784, null, -1.299, 0.599 , 0.176, -0.412, null, null, null, null, null],
            [0.253, -0.222, -0.502, -0.070, 0.317, -0.250, 0.129, 0.284, null, null, null, null, null, null, null],
            [0.131, 0.044, -0.251, 0.028, 0.421, -0.449, -0.607, 0.577, null, null, null, null, null, null, null],
            [-0.455, -0.109, -0.162, -0.214, 1.107, -0.569, -0.172, 0.608, null, null, null, null, null, null, null],
            [0.455, 0.481, -0.001, 0.587, 0.116, -0.993, -0.140, -0.545, null, null, null, null, null, null, null],
            [-0.203, 0.204, 0.126, 0.146, -0.506, 0.298, -0.253, -0.379, null, null, null, null, null, 0.316, 0.251]
           ]

data = []
for i, season in enumerate(seasons):
    for j, team in enumerate(teams):
        nrr = nrr_list[i][j]
        data.append({'season_id': season, 'team_name': team, 'NRR': nrr})

# Creating the DataFrame from the list of dictionaries
nrr_df = pd.DataFrame(data)

# Printing the DataFrame
print(nrr_df)
# data = {}

# # Loop over each season and team, and add the corresponding NRR value to the dictionary
# for i, season in enumerate(seasons):
#     for j, team in enumerate(teams):
#         if len(nrr_list[i]) == len(teams):
#             nrr = nrr_list[i][j]
#         else:
#             nrr = None
#         if season not in data:
#             data[season] = {}
#         data[season][team] = nrr

# # Create the DataFrame from the dictionary
# df = pd.DataFrame.from_dict(data, orient='index')

# # Rename the index column
# df.index.name = 'Season'

# # Print the resulting DataFrame
# print(df)

# # Print the resulting DataFrame
# print(df.loc[df['season'] == 14]['nrr'])

     season_id              team_name    NRR
0            1    Chennai Super Kings -0.192
1            1         Delhi Capitals  0.342
2            1           Punjab Kings  0.509
3            1  Kolkata Knight Riders -0.147
4            1         Mumbai Indians  0.570
..         ...                    ...    ...
220         15          Pune Warriors    NaN
221         15        Deccan Chargers    NaN
222         15   Kochi Tuskers Kerala    NaN
223         15         Gujarat Titans  0.316
224         15   Lucknow Super Giants  0.251

[225 rows x 3 columns]

In [53]:
nrr_df.to_sql(
name = 'nrr',
con = engine,
index = False,
if_exists = 'replace'
)